@import "tailwindcss";

@theme {
  --color-rit-orange: #F76902;
  --color-rit-off-white: #D7D2CB;
  --color-rit-gray: #A2AAAD;
  --color-rit-dark-gray: #7C878E;
  --color-rit-light-gray: #D0D3D4;
  --color-rit-beige: #ACA39A;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
