:root {
    --foreground-footer: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-footer: #ededed;
    }
}

footer {
    background-color: black;
    color: var(--foreground-footer);
    padding: 1em 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
