# apps/scoop-portal/ui/.env.local
# Use the port from the server .env file
NEXT_PUBLIC_API_URL=http://localhost:5002/scoop-portal
NEXT_PUBLIC_WORKFLOWS_API_URL=http://localhost:5001/scoop-portal/workflow-api
NEXT_PUBLIC_NOTIFICATION=/api/notifications
NEXT_PUBLIC_URL_BASE_PATH=/scoop-portal
