NEXT_PUBLIC_API_URL=http://localhost:5000/scoop-portal
NEXT_PUBLIC_WORKFLOWS_API_URL=http://localhost:5001
NEXT_PUBLIC_NOTIFICATION=/api/notifications
SLACK_BOT_TOKEN=
NEXT_PUBLIC_URL_BASE_PATH=/scoop-portal

KEYCLOAK_CLIENT_ID=nextjs-app
KEYCLOAK_CLIENT_SECRET=get_this_from_keycloak
KEYCLOAK_ISSUER=http://localhost:8080/realms/scoop-realm

# This is the secret NextAuth uses to encrypt the session cookie
NEXTAUTH_SECRET=run_openssl_rand_base64_32_to_generate_this
NEXTAUTH_URL=http://localhost:3000/scoop-portal/api/auth