# Change the placeholders "<placeholder_name>" to their respective information based on your MariaDB setup.
DATABASE_URL=mysql://<username>:<password>@localhost:3306/<database_name>

# Set the port to whatever works best for your application
PORT=3001
