node_modules
# Keep environment variables out of version control
.env

/generated/prisma
/prisma/migrations

# Ignore changes to the config_backend scripts because port number 
# changes may be necessary depending on personal environments
config_backend.bat
config_backend.sh