table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  width: auto;
}

th {
  font-weight: normal;
  background-color: var(--primary-color);
}

.rubric {
  width: 100%;
}

.rubric-editor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
}

.criteria {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  list-style-type: none;
}

.criterion {
  list-style-type: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.criterion-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
  width: stretch;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.levels {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
  width: stretch;
  padding: 0px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--secondary-color);
  margin-top: 10px;
}

.level {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
  width: stretch;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--background-color);
  list-style-type: none;
}

textarea {
  field-sizing: content;
  resize: none;
  min-height: 30px;
  padding: 5px;
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 5px;
}

input {
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 5px;
}

.criteria button {
    font-weight: bold;;
}

.criterion-header button,
.level button {
  background-color: white;
  color: black;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.criterion-header button:hover,
.level button:hover {
  background-color: red;
  color: white;
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}

.rubric {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2vw
}

.rubric-page {
  width: 90%;
  margin: auto;
}