# SMTP (dev with smtp4dev)
SMTP_HOST=smtp4dev
# When using docker, the docker port for stmp is 25 as opposed to 2525 (see the docker-compose.yml)
SMTP_PORT=25
SMTP_FROM=se_svc_apps@rit.edu

# Service
PORT=4000
NODE_ENV=development

# Slack (bot app)
# Make sure you are using the bot token (xoxb-...) and not the user token (xoxp-...)
SLACK_BOT_TOKEN=

# MariaDB connection (example for local dev using docker run)
# The docker containers use container ports instead of host ports, so notify connects to 3306 instead of 3307
DATABASE_URL="mysql://root:newPassword@mysql:3306/notification_service"