# When using docker, the docker port for stmp is 25 as opposed to 2525 (see the docker-compose.yml)
SMTP_HOST=postfix
SMTP_PORT=25
SMTP_FROM=se_svc_apps@rit.edu

#SMTP4Dev
DEV_UI_PORT=3005
DEV_SMTP_PORT=2525

# Service
NOTIF_HOST_PORT=4001
NOTIF_CONTAINER_PORT=4001

DB_NAME="notification_service"
DB_APP_USER="notification_service_user"
DB_HOST_PORT=3310
DB_ROOT_PASSWORD="root_password"
DB_USER_PASSWORD="user_password"

#Slack
SLACK_BOT_TOKEN = "xoxb-"