DATABASE_URL="mysql://root:root_password@localhost:3306/ta_portal_db"
PORT="3300"
NOTIFICATION_CLIENT_APP_ID="ta-portal"
NOTIFICATION_API_EXTENSION="/notifications"
NODE_ENV="DEV"
NOTIFICATION_SERVICE_URL="http://localhost:4001"
FRONTEND_URL="https://localhost:3000"
