#Database Info
DB_NAME="ta_portal_db"
DB_APP_USER="app_user"

DB_ROOT_PASSWORD="root_password"
DB_USER_PASSWORD="user_password"

#URL
ORIGIN_URL="https://apps-staging.se.rit.edu"

#Extensions
NEXT_PUBLIC_API_EXTENSION="/ta-portal-api"
NEXT_PUBLIC_DATABASE_API_EXTENSION="/db"
NEXT_PUBLIC_SLACK_API_EXTENSION="/slack"
NEXT_PUBLIC_AUTH_URL="/auth"

#DEV or PROD depending on if you want dropdown or fallback login. Must be set before running build
LOGIN_MODE="PROD"

#Ports
##Database
DB_HOST_PORT="3306"
##Frontend
FRONT_HOST_PORT="3000"
FRONT_CONTAINER_PORT="3000"
##Backend
BACK_HOST_PORT="3300"
BACK_CONTAINER_PORT="3300"

#Services
##Notifications
NOTIFICATION_CLIENT_APP_ID="ta-portal"
NOTIFICATION_API_EXTENSION="/notifications"