PUBLIC_URL=/cmt
BACKEND_PORT=5010
DATABASE_URL=mysql://root:[password]:3306/[database name]
NODE_ENV=development

WORKFLOWS_API_URL=http://localhost:3001
REACT_APP_BACKEND_URL=http://localhost:5010/api/cmt
REACT_APP_AUTH_BASE=http://localhost:5010
REACT_APP_BASE_URL=http://localhost:5010
REMOTE_DEV_SERVER_ORIGIN=http://localhost:3000

PORT=3010

FRONT_HOST_PORT="3010"
FRONT_CONTAINER_PORT="3010"

BACK_HOST_PORT="5010"
BACK_CONTAINER_PORT="5010"