.list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  width: 80vw;
  padding: 10px;
  border: 1px solid;
  border-radius: 15px;
  background-color: var(--secondary-color);
}

.list-header {
  width: stretch;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--heading-text-color);
}

.list-item {
  list-style-type: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--background-color);
}