NEXT_PUBLIC_NODE_ENV="DEV" #DEV for development login, PROD for production login
NEXT_PUBLIC_BACKEND_URL="https://localhost:3300"
NEXT_PUBLIC_API_EXTENSION="/ta-portal-api"
NEXT_PUBLIC_DATABASE_API_EXTENSION="/db"
NEXT_PUBLIC_SLACK_API_EXTENSION="/slack"